<h1>Task details</h1>


<ul>
  <li><strong>title</strong> <%= @task.title %></li>
  <li><strong>details</strong> <%= @task.details %></li>
  <li><strong>completed</strong> <%= @task.completed %></li>
</ul>
